* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --container-with: 1240px;
  --basic-space: 1rem;
  --primary-color: #153416;
  --secondary-color: #929191;
  --text-color: #ffffff;
}
a {
  color: inherit;
  text-decoration: none;
}
img {
  max-width: 100%;
  object-fit: cover;
}
html {
  font-family: "Roboto";
  font-size: 12px;
  line-height: 1.17;
  font-weight: 400;
  color: var(--text-color);
}
body {
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
  background-image: url(../img/david-marcu-78A265wPiO4-unsplash\ 1.png);
  background-size: 100%;
  background-color: var(--secondary-color);
}
::placeholder {
  color: var(--text-color);
}
.container {
  width: 340px;
  margin-left: auto;
  margin-right: auto;
}
.section {
  background: rgba(233, 233, 233, 0.25);
  backdrop-filter: blur(5px);
  padding-left: 78px;
  padding-right: 78px;
}
input {
  border-radius: 30px;
  background: #929191;
  border: 0;
}
input[type="email"] {
  width: 340px;
  padding-left: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 12px;
  margin-bottom: 15px;
}
button[type="submit"] {
  border-radius: 30px;
  background: var(--primary-color);
  border: 0;
  width: 340px;
  margin-top: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 12px;
  color: var(--text-color);
}

input[type="password"] {
  width: 340px;
  padding-left: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 15px;
  font-size: 12px;
}
.checkbox-label input[type="checkbox"] {
  opacity: 0;
  width: 0;
  height: 0;
  float: left;
}
.checkbox-label .checkbox {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 2px;
  border: 1px solid #d9d9d9;

  margin-right: 10px;
  text-align: center;
}
.checkbox-label input[type="checkbox"]:checked + .checkbox {
  background-image: url(../img/Vector\ 3.png);
  background-color: var(--primary-color);
  border-radius: 2px;
  border: 2px solid var(--primary-color);
  background-size: 15px;
  background-position: center;
}
.section .btn {
  width: 340px;
  background: rgba(0, 0, 0, 0);
  backdrop-filter: blur(5px);
  border: 1px solid var(--primary-color);
  border-radius: 30px;
  color: var(--text-color);
  margin-top: 60px;
  text-align: left;
}
.btn1 {
  background-color: var(--primary-color);
  color: var(--text-color);
  border: 1px solid var(--primary-color);
  border-radius: 30px;
  padding: 9px 70px;
  font-size: 12px;
  text-align: left;
}
.btn2 {
  background: rgba(0, 0, 0, 0);
  backdrop-filter: blur(5px);
  color: var(--text-color);
  border: 0;
  border-radius: 30px;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 20px;
  padding-right: 53px;
  margin-left: 20px;
  font-size: 12px;
}
.form {
  max-width: 340px;
  padding-top: 75px;
}
.title {
  font-size: 30px;
  font-weight: 400;
  padding-bottom: 30px;
  text-align: center;
}
.link1 {
  color: var(--primary-color);
  float: right;
  margin-top: 10px;
}
.discript {
  color: var(--primary-color);
  padding-top: 30px;
  text-align: center;
}
.social {
  display: flex;
  width: 102px;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  padding-bottom: 170px;
}
.discript1 {
  color: var(--primary-color);
}
.link2 {
  display: flex;
  justify-content: space-evenly;
  padding-top: 40px;
}
.link3 {
  display: flex;
  justify-content: space-evenly;
  padding-top: 40px;
  padding-bottom: 70px;
}
